Skip to content
Search or jump to…
Pull requests
Issues
Codespaces
Marketplace
Explore
 
@leonvallejos 
midudev
/
aprendiendo-react
Public
Fork your own copy of midudev/aprendiendo-react
Code
Issues
1
Pull requests
Actions
Security
Insights
aprendiendo-react/projects/01-twitter-follow-card/src/App.css
@midudev
midudev First project
Latest commit d6e9e58 on Jan 12
 History
 1 contributor
75 lines (62 sloc)  1.2 KB

.tw-followCard {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: .8rem;
  justify-content: space-between;
}

.tw-followCard-header {
  display: flex;
  align-items: center;
  gap: 4px
}

.tw-followCard-info {
  display: flex;
  flex-direction: column;
}

.tw-followCard-infoUserName {
  opacity: .6;
}

.tw-followCard-avatar {
  width: 48px;
  height: 48px;
  border-radius: 1000px;
}

.tw-followCard-button {
  cursor: pointer;
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
  border: 1px solid #000;
  transition: .3s ease background-color;
}

.tw-followCard-button:hover {
  opacity: .8;
}

.tw-followCard-text {
  display: block;
}

.tw-followCard-button.is-following {
  border: 1px solid #bbb;
  background: transparent;
  color: #fff;
  width: 140px;
}

.tw-followCard-button.is-following:hover {
  background-color: rgba(255, 0, 0, 0.178);
  color: red;
  border: 1px solid red;
  transition: .3s ease all;
  opacity: 1;
}

.tw-followCard-button.is-following:hover .tw-followCard-text {
  display: none;
}

.tw-followCard-button.is-following:hover .tw-followCard-stopFollow {
  display: block;
}

.tw-followCard-stopFollow {
  display: none;
}
Footer
© 2023 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
aprendiendo-react/App.css at master · midudev/aprendiendo-react 